#containerGalerija {
    display: flex;  
}

.imageHolder {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.holderImg {
    display: flex;
    width: 150px;
    height: 100px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.slikaImg {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.popUpDiv {
    display: flex;
    width: 100vw;
    height: 70vh;
}

.slikaVeca {
    width: 80vw;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px 0 20px 0;
}

.delBtnImg {
    width: 70px;
    height: 20px;
}
.frameDiv {
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tumbDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}