#containerGalerija {
    width: 100vw;
    height: 88vh;
    display: flex;
}

.imageHolder {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
}

.holderImg {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.slikaImg {
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.popUpDiv {
    display: flex;
    margin: auto;
    width: 80%;
    height: 80vh;

}


.slikaVeca {
    margin: auto;
    border-radius: 20px 0 20px 0;

}


.delBtnImg {
    width: 70px;
    height: 20px;
}
.frameDiv {
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.tumbDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}