#containerGalerija {
    width: 100vw;
    height: 93vh;
    display: flex;    
    overflow-x: hidden;
    
}

.imageHolder {
    width: 93vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 0;
}

.holderImg {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.slikaImg {
    width: 150px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 5px;
}

.popUpDiv {
    display: flex;
    margin: auto;
    /* width: 80%; */
    /* height: 80vh; */

}

.slikaVeca {
    margin: auto;
    border-radius: 20px 0 20px 0;
}

/* .mobSlikaVeca {
    background-size: contain;
    background-repeat: no-repeat;
} */

.delBtnImg {
    width: 70px;
    height: 20px;
}
.frameDiv {
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tumbDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 455px){

    .imageHolder {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        margin-top: 0;
    }


}